/* footer-input */
.footer-input input{
     border: none;
     outline: none;
     border-bottom: 1px solid white;
     height: 30px;
     background-color: transparent;
     color: white;
     width: 80%;
     font-size: 18px;
}

/* loading */
.loader {
     width: 90px;
     height: 14px;
     box-shadow: 0 3px 0 #fff;
     position: relative;
     clip-path: inset(-40px 0 -5px)
   }
   .loader:before {
     content: "";
     position: absolute;
     inset: auto calc(50% - 17px) 0;
     height: 50px;
     --g:no-repeat linear-gradient(#e1cf09 0 0);
     background: var(--g),var(--g),var(--g),var(--g);
     background-size: 16px 14px;
     animation:
       l7-1 2s infinite linear,
       l7-2 2s infinite linear;
   }
   @keyframes l7-1 {
     0%,
     100%  {background-position: 0 -50px,100% -50px}
     17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
     35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
     52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
     70%,
     98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
   }
   @keyframes l7-2 {
     0%,70% {transform:translate(0)}
     100%  {transform:translate(200%)}
   }
.loading-icons{
     position: absolute;
     top: 0;
     height: 100vh;
     width: 100%;
     background-color: #625858fb;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 99;
}
/* contact  */
.form-contact{
  background-color: #fdeacc;
}
/* .form-contact .form-group{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} */
.form-contact .form-group label{
   color: #2a2062;
}
.form-contact .form-group input{
     background-color: #ffce71;
     border: none;
     outline: none;
     height: 35px;
     border-radius: 10px;
}
.form-contact .form-group textarea{
  background-color: #ffce71;
}
.app-js-icons{
   position: fixed;
   bottom:50px;
   right: 50px;
}
.app-js-icons .icon{
    height: 50px;
    width: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
}
/* civil-banner-section */
.civil-banner-section{
  height: 70vh;
    background:url(./assets/civil-contruction.png);
}
.shadows:hover{
  box-shadow: #0787c4 0px 3px 5px;
}