
/* header section */
.header-contact{
  position: sticky;
  top: 0;
  z-index: 10;
}

/* footer-input */
.footer-input input{
     border: none;
     outline: none;
     border-bottom: 1px solid white;
     height: 30px;
     background-color: transparent;
     color: white;
     width: 80%;
     font-size: 18px;
}

/* loading */
.loader {
     width: 90px;
     height: 14px;
     box-shadow: 0 3px 0 #fff;
     position: relative;
     clip-path: inset(-40px 0 -5px)
   }
   .loader:before {
     content: "";
     position: absolute;
     inset: auto calc(50% - 17px) 0;
     height: 50px;
     --g:no-repeat linear-gradient(#e1cf09 0 0);
     background: var(--g),var(--g),var(--g),var(--g);
     background-size: 16px 14px;
     animation:
       l7-1 2s infinite linear,
       l7-2 2s infinite linear;
   }
   @keyframes l7-1 {
     0%,
     100%  {background-position: 0 -50px,100% -50px}
     17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
     35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
     52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
     70%,
     98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
   }
   @keyframes l7-2 {
     0%,70% {transform:translate(0)}
     100%  {transform:translate(200%)}
   }
.loading-icons{
     position: absolute;
     top: 0;
     height: 100vh;
     width: 100%;
     background-color: #625858fb;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 99;
}
/* contact  */
.form-contact{
  background-color: #fdeacc;
}
/* .form-contact .form-group{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
} */
.form-contact .form-group label{
   color: #2a2062;
}
.form-contact .form-group input{
     background-color: #ffce71;
     border: none;
     outline: none;
     height: 35px;
     border-radius: 10px;
}
.form-contact .form-group textarea{
  background-color: #ffce71;
}
.app-js-icons{
   position: fixed;
   bottom:50px;
   right: 50px;
}
.app-js-icons .icon{
    height: 50px;
    width: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
}
/* civil-banner-section */
.civil-banner-section{
  height: 70vh;
    background:url(./assets/civil-contruction.png);
}
.shadows:hover{
  box-shadow: #0787c4 0px 3px 5px;
  background: #000;
  color: #fff;
}
/* electrical-section */
.electrical-section{
  height: 70vh;
  background:linear-gradient(to right,#00000058,#00000052),url(./assets/electrical/electrical-banner.png);
  background-size: cover;
}
.triangle-left{
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 50px solid #0787c4;
  border-bottom: 25px solid transparent;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 50px solid #0787c4;
  border-bottom: 25px solid transparent;
}
.electrical-sec .content-details{
  background: url(./assets/electrical/transform.gif) no-repeat center;
  background-size: cover;
}
/* electric-points */
.electric-points{ 
  background:linear-gradient(to right,#000000db,#000000ec,#000000c3),url(./assets/electrical/elec-bg.jpg) no-repeat center;
  background-size: cover;
}
.electrical-sec .gallery-img{
  padding: 5px;
   overflow: hidden;
  }
  .electrical-sec .gallery-img img:hover{
  transition: all 1s ease-in-out;
    transform:rotateX(360deg) scale(1.2);
}
/* metrowater */
.metrowater{
   height: 70vh;
   background:linear-gradient(to right,#000000a1,#000000ab),url(./assets/water/water-banner.png) no-repeat;
   background-size: cover;
}
/* contractor-banner */
.contractor-banner{
  height: 70vh;
  background:linear-gradient(to right,#000000a1,#000000ab),url(./assets/contractor/contractor-banner.png) no-repeat;
  background-size: cover;
}
/* button style */

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* water-gallery */
.water-section-gallery{
  background:url(./assets/water/img/water-bg-line.png),linear-gradient(to top,#8b41c8,#87255e);
  background-size:cover;
}
.water-gallery img{
    transform:rotate(10deg);
    transition: all 1s ease-in;
    border: 5px dashed rgb(255, 255, 255);
    background: #000;
}
.water-gallery img:hover{
  transform:rotate(0);
}
.water-gallery img:hover{
  transform:scale(1.1);
}
@media screen and (max-width: 768px){
  .triangle-left{
    border-top: 20px solid transparent;
    border-right: 20px solid #0787c4;
    border-bottom: 20px solid transparent;
  }
  .triangle-right{
    border-top: 20px solid transparent;
    border-left: 20px solid #0787c4;
    border-bottom: 20px solid transparent;
  }
  .header-contact{
    position:static;
  }
  /* about-sec-font */
.about-sec-font{
  font-size: 12px;
}
.water-gallery img{
  border: 2px dashed rgb(255, 255, 255);
}
  
}