*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* text-style */
.text-style{
    letter-spacing: 3px;
    font-style: italic;
}
/* unlist */
.unlist{
    list-style-type: disc;
}
/* opacity */
.opacity{
    opacity: .7;
}
/* home-section-banner */
.home-section-banner{
    height: 67vh;
     background:linear-gradient(to right,#00000069,#0000005d) ,url(./assets/contruction-banner.png) no-repeat;
     background-size:cover;
}
/*  house-works start */
.cart{
    position: relative;
    width: 100%;
    height: 400px;
    /* background: #ff0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart .imgBx{
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background: url(./assets/home/house-1.jpeg)bottom;
    background-size: cover;
}
.cart .imgBx::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}
.cart .imgBx::after{
    content: "";
    position: absolute;
    bottom: 70px;
    left:0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}
.cart .content{
    position: relative;
    width: 100%;
    height: 150px;
    background: #232949;
    border-radius: 15px;
    border-top-left-radius: 0;
}
.cart .content .price{
    position:absolute;
    height:80px;
    top:-80px;
    width: 50%;
    background:#232949;
    border-top:10px solid #fff;
    border-right:10px solid #fff;
    border-top-right-radius: 25px;
}
.cart .content .price::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 50%;
    box-shadow:-10px -10px 0 #fff;
}
.cart .content .price::after{
    content: "";
    position: absolute;
    bottom: 0;
    right:-25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow:-10px 10px 0 #232949;
}

/* second image */
.cart .cart-image-change{
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background: url(./assets/home/house-2.jpeg)bottom;
    background-size: cover;
}
.cart .cart-image-change::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}
.cart .cart-image-change::after{
    content: "";
    position: absolute;
    bottom: 70px;
    left:0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}
/* house-three */
.cart .house-three{
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background: url(./assets/home/house-3.jpg)bottom;
    background-size: cover;
}
.cart .house-three::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}
.cart .house-three::after{
    content: "";
    position: absolute;
    bottom: 70px;
    left:0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}
/*  house-works end */
/* perfect-layout */
.perfect-layout{
   position: absolute;
   top: 540px;
}
.perfect-box:hover{
      background-color: #ffd23f !important;
      transform: translateY(-10px);
      transition: all 1s ease-in;
}
.perfect-box:hover .text-warning{
    color: black !important;
}
/* home-introduction */
.home-introduction{
    margin-top: 20%;
}
.home-introduction .para{
    font-size: 22px;
}
/* home-introduction */
.home-introduction{
    background:linear-gradient(to right,#ffffffe1,#ffffff,#ffffffe6) , url(./assets/home/silhouette-city-background-illustration-free-vector.jpg) center;
}
/* our-service */
.our-service{
    background: url(./assets/home/6.png);
}
/* our-home-service */
.our-home-service:hover{
     transform: scale(1.1);
     transition: all 1s ease-in-out;
     background:url(./assets/contruction-banner.png) bottom;
}
.our-home-service:hover ul li,.icon{
    color: white;
}
/* about-banner */
.about-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) ,url(./assets/about/about-banner.jpg) no-repeat center; 
    background-size: cover;
}
.about-banner-content{
    background-color: rgba(201, 201, 14, 0.429);
}
.about-intro{
    background-image: url(./assets/about/bg-shape-04.png);
}
.about-senior-team .our-senior-about{
     border: 1px solid #ccc;
     position: relative;
}
.our-senior-about .senior-team{
    margin:2px;
    background: white;
}
.our-senior-about .senior-team::before{
    content: "";
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
    background: #e3df05;
    z-index: -2;
}
.our-senior-about .senior-team:hover::before{
    bottom:0;
    transition: all 1s ease-in-out;
}
.our-senior-about .senior-team:hover{
    background: url(./assets/about/75d3bd6c2855cea6bd12af66cc37719b.gif) center;
    background-size:cover;
}
/* contruction-banner */
.contruction-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) , url(./assets/building.jpg) center;
}
/* construction-intro */
.construction-intro{
    position: relative;
    overflow: hidden;
}
.construction-intro .cons-intro{
    margin: 3px;
}
.construction-intro .cons-intro::before{
     content: "";
     position: absolute;
     top:230px;
     bottom:0;
     right:0    ;
     left: 0;
     background:yellow;
     z-index: -2;
    }
    .cons-intro:hover::before{
    transition: all 2s ease-in;
    top:0;
}
/* our-works */
.our-works{
    position: relative;
    overflow: hidden;
}
.our-works .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right:-290px;
    background: #0000008e;
    color: #e3df05;
    display: grid;
    place-items: center;
}
.our-works:hover .content{
    right: 0;
    transition: all 1s ease-in;
}
/* footer-section */
.footer-section{
    background:linear-gradient(to right,#1f1818e7,#141414f0) ,url(./assets/logistics/construction-site-truck.jpg) no-repeat center;
    background-size: cover;
}
/* road-work-banner */
.road-work-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) , url(./assets/road-work/What-Is-Highway-Construction-1.jpg) no-repeat;
    background-size: cover;
}
/* logistics-banner */  
.logistics-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) , url(./assets/logistics/logistics-banner.jpg) no-repeat center;
    background-size: cover;
}
.logistics-banner-truck-road{
    background: url(./assets/logistics/road-view.jpg) no-repeat center;
    background-size: cover;
}
/* irrigation-banner */
.irrigation-banner{
    height: 70vh;

}
/* readymixconcrete-banner */
.readymixconcrete-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) ,url(./assets/readymixconcrete/readymixconcrete-banner.png) no-repeat bottom;
    background-size: cover;
}
.readymixconcrete-section .left-content{
    position: absolute;
    width: 600px;
    top: 500px;
}
/* media */
@media screen  and (max-width:700px){
    .perfect-layout{
         position: static;
         top: 0;
    }
    .readymixconcrete-section .left-content{
        position:static;
        width:100%;
        top:100%;
    }
}