@import url('https://fonts.googleapis.com/css2?family=Parkinsans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* scroll-banner-scroll */
.scroll-banner-scroll{
    background:linear-gradient(to right,#e6e3e3cb,#e0dedec9) , url(./assets/logistics/scroll-banner.jpg) no-repeat;
    background-attachment: fixed;
}
/* title-span-style */
.title-span-style{
    width: 10%;
    height: 5px;
    background: orange;
}
.disc-section{
    list-style:disc;
}
.disc{
    list-style:lower-roman;
}
:root{
    --primary-color: #0787c4;
    --secondary-color:#0a518e;
    --three-color:#031e3b;
}
.font-size{
    font-size: 11px;
}
.text-text{
    color: var(--primary-color);
}
.inner-text{
    color: var(--three-color);
}
.text-color{
    color: var(--secondary-color);
}
.bramd-bg{
    background-color: var(--primary-color);
}
.brand-font{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* text-style */
.text-style{
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* unlist */
.unlist{
    list-style-type: disc;
}
/* opacity */
.opacity{
    opacity: .7;
}
/* home-section-banner */
.home-section-banner{
    height: 67vh;
     background:linear-gradient(to right,#0000007b,#000000c7,#000000c7,#00000082) ,url(./assets/contruction-banner.png) no-repeat;
     background-size:cover;
}

/* perfect-layout */
.perfect-layout{
   position: absolute;
   top: 540px;
}
.perfect-layout{
    /* position: relative; */
}
.perfect-layout-child::before{
     content: "";
     inset: 0;
     position: absolute;
    

}
.perfect-box:hover{
      transform: translateY(-10px);
      transition: all 1s ease-in;
}
.perfect-box:hover .text-warning-yes{
    color: var(--primary-color);
}
/* home-introduction */
.home-introduction{
    margin-top: 25%;
}
.home-introduction .para{
    /* font-size: 22px; */
}
/* home-introduction */
.home-introduction{
      background: #f4efefda;
    /* background:linear-gradient(to right,#ffffffe1,#ffffff,#ffffffe6) , url(./assets/home/silhouette-city-background-illustration-free-vector.jpg) center; */
}
/* our-service */
.our-service{
    background: url(./assets/home/6.png);
    
}
/* gallery-section */
.gallery-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    gap: 20px;
}
.gallery-section .child{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-section:hover > :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
}
/* our-home-service */
.our-home-service{
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(31, 79, 184, 0.03) 0px 1px 1px -0.5px, rgba(34, 92, 215, 0.04) 0px 2px 2px -1px, rgba(19, 84, 225, 0.356) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(13, 54, 141, 0.509) 0px 24px 24px -8px;

}
.our-home-service:hover{
     transform: scale(1.1);
     transition: all 1s ease-in-out;
     /* background:linear-gradient(to right,#151111c8,#131010d8) ,url(./assets/animation-gif.gif) bottom;
     background-size: contain; */
}
/* .our-home-service:hover ul li,.icon{
    color: white;
} */
/* about-banner */
.about-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) ,url(./assets/about/about-banner.jpg) no-repeat center; 
    background-size: cover;
}
.about-banner-content{
    background-color: rgba(0, 0, 0, 0.74);
}
.about-intro{
    /* background:linear-gradient(to right,#151313d1,#171616b9 ),url(./assets/about/wave-haikei.png) no-repeat bottom;
    background-size:cover; */
}
.about-intro .about-section img{
    filter: saturate(200%);
    box-shadow: 15px -15px 2px #ffc100;
}
.about-senior-team .our-senior-about{
     border: 1px solid #ccc;
     position: relative;
}
.our-senior-about .senior-team{
    margin:3px;
    background: white;
}
.our-senior-about .senior-team::before{
    content: "";
    position: absolute;
    width:100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 200px;
    background:linear-gradient(to right,#fc466b,blue);
    z-index: -2;
}
.our-senior-about .senior-team:hover::before{
    bottom:0;
    transition: all 1s ease-in-out;
}
.our-senior-about .senior-team:hover{
    background: url(./assets/about/75d3bd6c2855cea6bd12af66cc37719b.gif) center;
    background-size:cover;
    border-radius: 8px;
}
/* contruction-banner */
.contruction-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) , url(./assets/building.jpg) center;
}
/* construction-intro */
.construction-intro-section {
     height: 47vh;
     overflow-y: hidden;
}
.construction-intro:hover{
    transform: translateY(-30px);
    transition: all 1s ease-in-out;
}
.construction-intro{
    position: relative;
    overflow: hidden;
    transform: translateY(170px);
}
.construction-intro .cons-intro{
    margin: 3px;
}
.construction-intro .cons-intro::before{
     content: "";
     position: absolute;
     top:230px;
     bottom:0;
     right:0    ;
     left: 0;
     background:var(--primary-color);
     z-index: -2;
    }
    .cons-intro:hover::before{
    transition: all 2s ease-in;
    top:0;
    transform: translateY(-100px);
}
.cons-intro:hover .cons-intro-icon{
     color: var(--primary-color);
}
.cons-intro:hover h5{
    color: var(--primary-color);
}
/* our-works */
.our-works{
    position: relative;
    overflow: hidden;
}
.our-works .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    right:-290px;
    background: #0000008e;
    color: #e3df05;
    display: grid;
    place-items: center;
}
.our-works:hover .content{
    right: 0;
    transition: all 1s ease-in;
}
/* Highway-road-section */
.Highway-road-section{
     background:linear-gradient(to right,#1f1818a0,#14141478) ,url(./assets/blob-scene-haikei.png) no-repeat;
     background-size: cover;
}
.Highway-road-section img{
      border-bottom-left-radius: 40%;
}
/* footer-section */
.footer-section{
    background:linear-gradient(to right,#1f1818e7,#141414f0) ,url(./assets/logistics/construction-site-truck.jpg) no-repeat center;
    background-size: cover;
}
.fooetr-link .foot-media{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 75%;
}
/* road-work-banner */
.road-work-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) , url(./assets/road-work/What-Is-Highway-Construction-1.jpg) no-repeat center;
    background-size: cover;
}
/* logistics-banner */  
.logistics-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) , url(./assets/logistics/mechanical-engineering-banner.jpg) no-repeat center;
    background-size: cover;
}

/* irrigation-banner */
.irrigation-banner{
    height: 70vh;

}
/* readymixconcrete-banner */
.readymixconcrete-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) ,url(./assets/readymixconcrete/readymixconcrete-banner.png) no-repeat bottom;
    background-size: cover;
}
.readymixconcrete-section .left-content{
    position: absolute;
    width: 600px;
    top: 500px;
}
/* career-banner */
.career-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) ,url(./assets/career-banner.jpg) no-repeat center; 
    background-size: cover;
}
.career-section .border-style{
    box-shadow: rgba(223, 224, 225, 0.671) 0px 1px 2px 0px, rgba(237, 239, 240, 0.726) 0px 1px 3px 1px;
    border-radius:10px;
}
.career-section .career-more{
    background-color:#1b2021;
}
.career-parent-style{
    position: relative;
    overflow: hidden;
}
.career-parent-style .career-animate-style::after{
    content: "";
    width: 100%;
    height: 100%;
    padding:2px;
    background-color: #ffd23ff4;
    position: absolute;
    bottom:250px;
}
.career-parent-style:hover .career-animate-style::after{
    bottom:0;
    transition: all 1s ease-in-out;
    z-index: -1;
}
.career-parent-style:hover p{
    color: white;
    font-weight: bold;
}
.career-form-parent{
    background-color: #ccc;
    border-radius: 10px;
}
.career-form-group{
     height: 35px;
     border: none;
     outline: none;
     background-color: transparent;
}
.form-group input[type="checkbox"],input[type="radio"]{
     height: 20px;
     width: 20px;
}
/* contact-section */
.contact-section{
    height: 70;
}
/* contact-banner */
.contact-banner{
    height: 70vh;
    background:linear-gradient(to right,#1f1818a5,#2c2323b2,#ffffffe6) ,url(./assets/contact/Contact-us-banner.jpg);
}
/* media */
@media screen  and (max-width:768px){
    .perfect-layout{
        position: static;
        top: 0;
   }
   .home-introduction{
    margin-top: 5%;
}
}
@media screen  and (max-width:700px){

    .readymixconcrete-section .left-content{
        position:static;
        width:100%;
        top:100%;
    }
    .home-section-banner{
        height: 50vh;
         background:linear-gradient(to right,#000000a9,#000000af) ,url(./assets/contruction-banner.png) no-repeat right;
         background-size:auto;
         background-position-x:-1380px;
         
    }
    .construction-intro-section{
        height: auto;
    }
    .construction-intro{
        transform: translateY(0);
    }
    /* gallery-section */
.gallery-section{
    grid-template-columns: repeat(auto-fit,110px);
    gap: 10px;
}
.gallery-section .child{
    width: 110px;
}
}